@charset "utf-8";
.titulo{
	margin:30px;
	color:white;
	font-family:copperplate gothic light;
	font-weight:bold;
}
.container-fluid{
	width:80% !important;
	padding-top:0px !important;
}
body {
    background: linear-gradient(319deg, #FF0000, #000000, #FF0000);
    background-size: 600% 600%;
    -webkit-animation: AnimationName 16s ease infinite;
    -moz-animation: AnimationName 16s ease infinite;
    animation: AnimationName 16s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
@keyframes AnimationName {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
ul{
	display:inline-flex;
}
li{
	list-style-type:none;
}
.objeto{
	margin-right:30px;
}
.objeto:hover{
	margin-right:30px;
	animation: roll 0.4s;
}
.separador{
	display:inline-flex;
	position: absolute;
    right: 0;
	height:40px;
	top:15px;
}
.menu{
	background: transparent;
	height:60px;
}
.bienvenida{
	font-size:3rem;
	color:white;
	position:absolute;
	top:14px;
	font-family:copperplate gothic light;
	font-weight:bold;
}
.iconos{
	color:white;
	top:12px;
}
.juegos{
	text-decoration:none;
	color:white;
	font-size:22px;
	font-family:copperplate gothic light;
	font-weight:bold;
	
}

li a:hover{
	color:#FF0000;
	box-shadow:10px 10px 10px #000;
}
li a i:hover{
	color:#FF0000;
	box-shadow:10px 10px 10px #000;
}



/* MENUUUUU */


/*Bootstrap*/
header {
  position: relative;
  background-color: black;
  height: 200px;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}
.lineas{
	align-items:center;
	justify-content:center;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}


.pb-video-container {
        padding-top: 20px;
}

.pb-video {
        border: 5px solid white;
        padding: 5px;
}

.pb-video:hover {
            background: red;
 }

/* .pb-video-frame { */
        /* transition: width 2s, height 2s; */
/* } */

 /* .pb-video-frame:hover {  */
         /* height: 250px; */
 /* }  */

.pb-row {
        margin-bottom: 10px;
}

/* BOTONNNNN */



.logo{
	position:fixed;
	width:18%;
	height:30%;
	padding: 0px 30px;
}
@keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
